<div class="card" style="width: 18rem;">
  {{#each this}}
  <div class="card-title">{{postTitle}} Posted At: {{createdAt}}</div>
  <p class="card-text">{{postText}}</p>
//TODO: Code commenting/updating/deleting Posts
  {{/each}}
</div>