.posts {
  width: 90vw;
  border: 3px solid #003366;
}
.card-title {
  background-color: beige;
  font-size: 22px;
}
a {
  color: #1e4f70;
  padding-left: 0.5rem;
}
.card-body {
  background-color: bisque;
}

.date {
  padding-right: 0.5rem;
}

#message {
  margin-bottom: 10px;
  color: rgb(39, 206, 39);
  font-size: 28px;
}

#error {
  margin-top: 10px;
  color: red;
  font-size: 28px;
}
